@font-face {
    font-family: "LXGW WenKai";
    src: url("../fonts/LXGWWenKaiGBScreen.ttf");
}

@font-face {
    font-family: "Cascadia";
    src: url("../fonts/CascadiaCode.woff2") format("woff2");
}